.App {
  background-repeat:repeat;
}

.frame {
  padding: 2%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
  max-width: 1400px;
  background-color: rgba(163, 163, 163, 0.45);
}
